
.container {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
}
  .evolution-image {
    display: block;
    max-width: 240px;
    max-height: 240px;
    margin: 0 auto;
  }
  p-card {
    width: 100%;
    margin: 0 auto;
  }
  

  